@font-face {
    font-family: mainfont;
    src: url("./fonts/text.ttf");
}

@font-face {
    font-family: titlefont;
    src: url("./fonts/titles.ttf");
}

html {
    font-size: 20px;
    font-family: mainfont;
    background-color: #eae9e1;
}

.header_background {
    height: 500px;
    width: 100%;
    background-image: url("./img/contact.jpg");
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0px;
    padding: 0px;
    margin: 0px;
    z-index: 1;
    position: absolute;
    background-position: center top;
}

#trigger { 
    src: url("./fonts/title.woff");
	border: none;
	text-decoration: none;
	background-color: transparent;
	font-family: mainfont;
}

.nav {
    z-index: 2;
    position: relative;
    text-align: center;
    margin-left: 12%;
    width: 76%;
    padding-top: 50px;
    padding-bottom: 10px;
    font-family: titlefont;
}

li {
    display: inline;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.hidd {
	display: none;
}

ul {
    padding-top: 0px;
    list-style-type: none;
    padding-left: 0px;
}

#home-button {
    background-color: transparent;
    text-decoration: none;
    border: none;
}

#home-li {
    text-decoration: none;
    background-color: transparent;
    font-family: titlefont;
    border: none;

}

h1 {
    color: black;
    font-size: 64px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-style: italic;
}

.main_data {
    max-width: 900px;
    min-width: 400px;
    z-index: 2;
    position: relative;
    background-color: white;
    margin: auto;
    padding-bottom: 50px;
    padding-top: 50px;
}

a {
    text-decoration: none;
    color: darkgray;
    font-size: 22px;
}

a:hover {
    color: white;
}

#title-wrap {
    background-color: white;
    width: 700px;
    margin: auto;
}

h2 {
    padding-left: 50px;
    margin-bottom: 16px;
    font-size: 24px;
    margin-top: 0px;
}

p {
    margin-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    font-size: 18px;
}

.end {
    max-width: 900px;
    min-width: 400px;
    z-index: 2;
    position: relative;
    height: 60px;
    font-family: titlefont;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 16px;
}

#end2 {
    text-align: center;
    font-size: 16px;
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: mainfont;
}

#lol {
    font-style: italic;
    padding-top: 30px;
}

body {
    margin: 0px;
}

input[type=text] {
    margin-left: 50px;
    margin-right: 10px;
    border: 0px;
    border-bottom: 2px solid #001038;
    font-size: 18px;
    padding: 5px;
    padding-left: 10px;
}

input[type=submit] {
    margin-left: 50px;
    margin-right: 10px;
    border: 0px;
    font-size: 20px;
    background-color: #001038;
    color: white;
    margin-left: 50px;
    margin-top: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}